/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


/* ===== VARIABLES CSS ===== */
:root {
  /* ========== COLORS ========== */
  --title-color: #3e4067;
  --text-color: #fff;
  --text-color-dark: #333;
  --highlight-color: #f68668;
  --highlight-color-alt: #c3b9de;
  --text-color-light: #;
  --container-color: #fff;
  --container-color-alt: #3e4067;
  --background: #f7f7f7;

  /* font sizes */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

}

/* Font size variables to scale CV */
body.scale-cv {
  --h1-font-size: 0.938rem;
  --h2-font-size: 0.938rem;
  --h3-font-size: 0.875rem;
  --h4-font-size: 0.875rem;
  --normal-font-size: 0.813rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.688rem;
}

/* classes modified to reduce size and print on A4 sheet */
.scale-cv .generate-pdf, 
.scale-cv .back-btn {
  display: none;
}

.scale-cv .container {
  max-width: 700px;
}

.scale-cv .profile-text .profile {
  width: 90px;
  height: 90px;
}

.scale-cv #professional-skills ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.scale-cv #professional-skills ul li {
  list-style: none;
}

.scale-cv .experience .box {
  flex-direction: column;
}

.scale-cv .experience .box .text {
  margin-top: 1rem;
}

.scale-cv .skills .box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.scale-cv .interests ul {
  grid-template-columns: repeat(2, auto);
}

/* =============== Base Styles =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--highlight-color);
}



h5 {
  font-size: var(--h4-font-size);
}

p, li {
  color: #333;
  font-size: var(--normal-font-size)
}


.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: var(--container-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.back-btn {
  position: absolute;
  top: 60px;
  right: 300px;
  padding: 5px 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--highlight-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.back-btn i {
  color: #fff;
  font-size: var(--normal-font-size);
  transition: all 0.3s ease;
}

.back-btn:hover {
  background-color: var(--highlight-color-alt);
}

.back-btn:hover i {
  transform: rotate(90deg);
}

/* =============== LEFT CONTAINER ===============*/
.container .left-side {
  position: relative;
  background: var(--container-color-alt);
  padding: 40px;
}

/* =============== Generate PDF Button =============== */
.generate-pdf {
  position: absolute;
  top: 1rem;
  left: 1rem; 
  font-size: 1.5rem;
  color: var(--highlight-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.generate-pdf:hover {
  color: var(--text-color);
}

/* download button for mobile - download cv in assets */
.home-button-movil {
  display: none;
  border: 2px solid var(--text-color);
  border-radius: 3px;
  background-color: var(--title-color);
  padding: 1rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.home-button-movil:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}

/* =============== PROFILE INFORMATION =============== */
.profile-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-text .profile {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-text .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-text h1 {
  color: var(--text-color);
  font-size: var(--h1-font-size);
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profile-text h1 span {
  font-size: var(--normal-font-size);
  font-weight: 300;
}

/* =============== CONTACT INFORMATION =============== */
.contact-info {
  padding-top: 40px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--h3-font-size);
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact-info ul {
  position: relative;
}

.contact-info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
}


.contact-info ul li .icon {
  display: inline-block;
  width: 25px;
  font-size: var(--normal-font-size);
  color: var(--highlight-color);
}

.contact-info ul li span {
  color: #fff;
  font-weight: 300;
  font-size: var(--small-font-size);
}

#professional-skills ul li {
  list-style: circle;
  color: #fff;
  margin: 5px auto;
}

#professional-skills ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#professional-skills ul div:first-child {
  margin-right: 1.7rem;
}

#professional-skills span.text {
  font-size: var(--smaller-font-size);
}


/* =============== EDUCATION =============== */
.contact-info.education li {
  margin-bottom: 15px;
}

.contact-info h5 {
  color: var(--highlight-color);
  font-weight: 500;
}

.contact-info h4 {
  color: #fff;
  font-weight: 300;
  font-size: var(--normal-font-size)
}

.contact-info h4:nth-child(2) {
  font-weight: 500;
}

.contact-info.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}

.contact-info.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--highlight-color);
}

/* =============== Right Container =============== */
.container .right-side {
  position: relative;
  background: var(--container-color);
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


.experience .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.experience .box .year-company {
  min-width: 150px;
  margin-right: 1rem;
}

.experience .box .year-company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 500;
  font-size: var(--small-font-size);
}

.experience .box .text h4 {
  text-transform: uppercase;
  color: var(--highlight-color-alt);
  font-size: var(--h4-font-size);
}

.qualifications ul {
  list-style: none; 
}

.qualifications ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--title-color); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1.2em; /* Also needed for space (tweak if needed) */
}

.qualifications ul li {
  margin-top: 1rem;
}

/* =============== Professional Skills =============== */
.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 1.1rem;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
  font-size: var(--h4-font-size)
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--highlight-color-alt);
}

.interests ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.interests ul li {
  list-style: none;
  color: var(--text-color);
  font-weight: 300;
  margin: 10px 0;
}

.interests ul li .fa {
  color: var(--highlight-color);
  font-size: var(--h4-font-size);
  width: 20px;
  margin-right: 0.2rem;
}


/* =============== Response Design =============== */
@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .interests ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-button-movil {
    display: inline-block;
  }

  .generate-pdf {
    display: none;
  }

  .back-btn {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }

  #professional-skills ul li {
    list-style: none;
  }

  .about .box .year-company {
    margin-bottom: 5px;
  }

  .interests ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }



}
